<h1>AMIS Policy Commodity list</h1>

<hr>


<h3>Search Form
    <small>Fill the form to look for Commodities</small>
</h3>

<div class="row">
    <div id="commodities-search-form" class="col-lg-10">
        <div class="row">
            <div class="col-lg-6">
                <div id="commodities-search-form-policyMeasure"></div>
            </div>
            <div class="col-lg-6">
                <div id="commodities-search-form-policyDomain"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="commodities-search-form-country"></div>
            </div>
            <div class="col-lg-6">
                <div id="commodities-search-form-commodityClass"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <button id="commodities-search-form-submit-btn" type="button" class="btn btn-danger  btn-lg btn-block">Search
        </button>
    </div>
</div>

<hr>

<h3>Search Results
    <small>Commodities found</small>
</h3>

<div class="row" id="search-results">
    <div class="col-lg-12">
        <div id="commodities-list"></div>
    </div>
</div>

<div class="row" id="no-results">
    <div class="col-lg-12">
        <h3>Search Results
            <small>No results found!</small>
        </h3>
        <button id="commodity-new-btn" type="button" class="btn btn-danger btn-lg btn-block">Create Commodity</button>
    </div>
</div>

<hr>

<h3>Commodity Details
    <small>Details of the selected Commodity</small>
</h3>

<div class="row">
    <div class="col-lg-10">
        <div id="commodity-details"></div>
    </div>

    <div class="col-lg-2">
        <button id="commodity-edit-btn" type="button" class="btn btn-default btn-lg btn-block">Edit</button>
    </div>
</div>

<hr>