<h1>AMIS Policy - Edit CPL</h1>

<hr>

<div class="row">
    <div class="col-lg-12">
        <div id="cpl-details"></div>
    </div>

</div>

<hr>

<h3>Policy List
    <small>List of Policies related to selected CPL</small>
</h3>

<div class="row">
    <div class="col-lg-10">
        <div id="policies-list"></div>
    </div>
    <div class="col-lg-2">
        <button id="cpl-policies-remove-btn" type="button" class="btn btn-default btn-lg btn-block">Remove Policy
        </button>
        <button id="cpl-policies-add-btn" type="button" class="btn btn-default btn-lg btn-block">Add Policy</button>
        <button id="cpl-policies-new-btn" type="button" class="btn btn-default btn-lg btn-block">New Policy</button>
    </div>
</div>

<hr>

<h3>Policy Details
    <small>Details of the selected Policy</small>
</h3>

<div class="row">
    <div class="col-lg-12">
        <div id="policy-details"></div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-lg-12">
        <button id="save-btn" type="button" class="btn btn-default btn-lg btn-block">SAVE</button>
        <button id="delete-btn" type="button" class="btn btn-danger btn-lg btn-block">DELETE</button>
    </div>
</div>