<h1>AMIS Policy Shared Group list</h1>

<hr>

<h3>List
    <small>Shared Groups of the system</small>
</h3>

<div class="row">
    <div class="col-lg-12">
        <div id="sharedgroups-list"></div>
    </div>
</div>

<hr>

<h3>Shared Group Details
    <small>Details of the selected Shared Group</small>
</h3>

<div class="row">
    <div class="col-lg-10">
        <div id="sharedgroup-details"></div>
    </div>

    <div class="col-lg-2">
        <button id="sharedgroup-edit-btn" type="button" class="btn btn-default btn-lg btn-block">Edit</button>
    </div>
</div>

<hr>