<h1>AMIS Policy Shared Group list</h1>

<hr>

<h3>Search Form
    <small>Fill the form to look for shared groups</small>
</h3>

<div class="row">
    <div id="sharedgroups-search-form" class="col-lg-10">
        <div class="row">
            <div class="col-lg-6">
                <div id="sharedgroups-search-form-policyMeasure"></div>
            </div>
            <div class="col-lg-6">
                <div id="sharedgroups-search-form-policyDomain"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="sharedgroups-search-form-country"></div>
            </div>
            <div class="col-lg-6">
                <div id="sharedgroups-search-form-commodityClass"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <button id="sharedgroups-search-form-submit-btn" type="button" class="btn btn-danger  btn-lg btn-block">Search
        </button>
    </div>
</div>

<hr>

<h3>Search Results
    <small>shared groups found</small>
</h3>

<div class="row" id="search-results">
    <div class="col-lg-12">
        <div id="sharedgroups-list"></div>
    </div>
</div>

<div class="row" id="no-results">
    <div class="col-lg-12">
        <h3>Search Results
            <small>No results found!</small>
        </h3>
        <button id="sharedgroup-new-btn" type="button" class="btn btn-danger btn-lg btn-block">Create Shared Group
        </button>
    </div>
</div>

<hr>

<h3>Shared Group Details
    <small>Details of the selected Shared Group</small>
</h3>

<div class="row">
    <div class="col-lg-10">
        <div id="sharedgroup-details"></div>
    </div>

    <div class="col-lg-2">
        <button id="sharedgroup-edit-btn" type="button" class="btn btn-default btn-lg btn-block">Edit</button>
    </div>
</div>

<hr>